body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #4c4c4c; /* Replace 'cute-background-pattern.png' with the actual path to your cute background image */
    background-size: cover; /* Ensure the background covers the entire viewport */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-position: center; /* Center the background image */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  #content {
    text-align: center;
  }
  
  #imagePlaceholder {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
  }

  
  
  #imagePlaceholder:hover {
    transform: scale(1.05);
  }
  
  #message {
    display: none;
    color: #F4BB44;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    outline: none;
    background-color: hotpink; /* Soft gradient background */
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  select:hover {
    background-color: #666;
  }
  
  select:focus {
    background-color: #555;
  }
  
  option {
    background-color: #4c4c4c;
    color: #FFF;
  }
  

  #confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; /* Make sure confetti doesn't interfere with other elements */
  }
  
  .confetti {
    width: 10px;
    height: 10px;
    background-color: #F4BB44; /* Confetti color */
    position: absolute;
    border-radius: 50%;
    animation: confetti-fall 5s linear infinite; /* Animation */
  }
  
  @keyframes confetti-fall {
    0% {
      transform: translateY(-100vh) rotate(0deg); /* Initial position */
    }
    100% {
      transform: translateY(100vh) rotate(360deg); /* Final position */
    }
  }
  
